/* Base resets and coding styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Inter', Arial, 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.01em;
  font-variation-settings: "wght" 430;
  font-weight: 410;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', 'Fira Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 0.98rem;
  font-variant-ligatures: none;
  letter-spacing: .028em;
}
